.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100%;
    color: white;
    margin-top: 10%;
    flex-direction: column;

}

.percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 30px;
}

.container .bar {
    height: 2px;
    width: 2%;
    align-self: flex-start;
    border: 3px solid #2a3249;
    background : linear-gradient(90deg, #4ce6a4, #1d05bd);
    border-radius: 20px;
    padding: 10px;
}