* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-smooth: always;
}

a {
  color: white;
  text-decoration: none;
}

.App {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #020c1c, #020c1c);
}

/* ----------NAVBAR -------- */

nav {
  width: 100%;
  height: 50px;
  background-color: #111828;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}

nav .arrow {
  font-size: 20px;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: #fff;
}

nav input {
  background-color: transparent;
  border: 1px solid #2a3249;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

nav input:focus {
  border: 1px solid #2a3249;
  outline: none;
}

/* ---------END OF NAVBAR--------- */

/* ------- city container ---------- */
.city_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}

.city_container li {
  border: 2px solid #141a2a;
  padding: 10px;
  width: 230px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 250ms;
  cursor: pointer;
}

.city_container li:hover {
  background-color: #3a32c3;
}

.city_container li:hover span {
  color: #3a32c3;
  background-color: #dcd8f9;
}

.plate_number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3928b9;
  padding: 6px;
}

/* ------- end city container ---------- */

/* --------------city_weather_container----- */

.city_weather_container {
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #293042;
  margin-top: 28px;
  padding:10px;
}

/* ------------- end of weather container ----------  */

/* ---------------- CARDS ---------------- */

.card_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: max-content;
}

.today_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #465e84, #136ad4);
  color: white;
  box-shadow: 3px 3px 14px 7px rgba(0, 0, 0, 0.2);
  width: 250px;
  min-height: 565px;
  overflow: hidden;
  gap: 5px;
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
  transition: 400ms;
  cursor: pointer;
  flex-wrap: wrap;
}

.card_container img {
  width: 110px;
  height: 110px;
}

.today_card .city_name {
  border-bottom: 2px solid rgba(255, 255, 255, 0.219);
}

.today_card:hover {
  background: linear-gradient(90deg, #685e91, #3c5b8c);
}

.day_clock {
  display: flex;
  gap: 5px;
  font-weight: 500;
}

.clock {
  opacity: 0.6;
  text-align: center;
}

.today_card .temp {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  font-size: 65px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.219);
  padding: 7px;
}

.today_card .temp .celc {
  font-size: 25px;
  opacity: 0.7;
  border-radius: 50%;
}

.today_card .main {
  font-size: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.219);
}

.today_card .feels_like,
.wind_speed {
  display: flex;
  gap: 2px;
}

.today_card .description {
  font-size: 17px;
  opacity: 0.7;
}

/* -- dys of week little cards--- */

.week_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  width: max-content;
  height: max-content;
  transition: 400ms;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 5px;
}

.weekly_title {
  padding: 3px;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.347);
  width: 100%;
}

.little_cards_container {
  display: flex;
  align-items: center;
  justify-content: center;

}


.little_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 17px;
  background: linear-gradient(90deg, #136ad4, #465e84);
  margin-left: 5px;
  border-radius: 15px;
}
.little_weather {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}


/* ----------Highlights------------ */


.highlights {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 15px;
}

.highlights_title {
  padding: 3px;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.347);
}

.humidity_clouds_uvi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}

.humidity {
  width: 33%;
  height: 100px;
  background: linear-gradient(90deg, #136ad4, #465e84);
  box-shadow: 3px 3px 14px 7px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clouds {
  width: 33%;
  height: 100px;
  background: linear-gradient(90deg, #136ad4, #465e84);
  box-shadow: 3px 3px 14px 7px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uvi {
  width: 33%;
  height: 100px;
  background: linear-gradient(90deg, #136ad4, #465e84);
  box-shadow: 3px 3px 14px 7px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wind_details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
}